flask[async]
waitress
websocket-client
Flask-Babel
pygments
PyJWT
flask-login
flask_wtf
WTForms
python-Levenshtein
fernet
rich
rapidfuzz
fuzzywuzzy
aiohttp
django-user-agents
Flask-Bootstrap
markdown
flask-moment
flask-talisman
flask-sitemapper